footer {
    /* display: block; */
    position:fixed; /* fixed, relative */
    bottom: 0;
    width: 100%;
    height: 90px;
    text-align: center;
    padding: 1px;
    background-color: #ff5500bc;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

footer p {
    font-weight: bold;
}