<div class="container">
  <div *ngIf="post$ | async as post" class="card">
    <div class="card__header">
      <img
        src="{{ post.imageUrl }}"
        alt="card__image"
        class="card__image"
        width="600"
      />
    </div>

    <div class="card__body">
      <h4>{{ post.place }}</h4>
      <p>
        {{ post.description }}
      </p>
    </div>
    <div class="card__footer">
      <button *ngIf="isOwner" class="button" (click)="deletePost">Delete</button>
    </div>
  </div>
</div>
