<div class="container">
            <div class="header-top">
                <div class="navsection menu">
                    <ul class="underline">
                        <li><a href="/feed">FEED</a></li>
                        <li><a href="/add-photo">ADD A PHOTO</a></li>
                    </ul>
                </div>
                <div class="navsection logo">
                    <a href="/">
                        <img src="../../../assets/logo-removebg-preview.png" alt="logo" />
                    </a>
                </div>
                <div class="navsection userbtns">
                    <ul>
                        <!-- <li><a href="/login">LOGIN</a></li>
                        <li><a href="/register">REGISTER</a></li> -->
                        <li><a href="/profile">PROFILE</a></li>
                        <li><a href="/logout">LOGOUT</a></li>
                    </ul>
                </div>
            </div>
        </div>
