<div class="container">
            <div class="header-top">
                <div class="navsection menu">
                    <ul class="underline">
                        <li><a routerLink="/posts">POSTS</a></li>
                        <li><a routerLink="/add-post">ADD A POST</a></li>
                    </ul>
                </div>
                <div class="navsection logo">
                    <a routerLink="/">
                        <img src="../../../assets/logo-removebg-preview.png" alt="logo" />
                    </a>
                </div>
                <div class="navsection userbtns">
                    <ul>
                        <li><a routerLink="/login">LOGIN</a></li>
                        <li><a routerLink="/register">REGISTER</a></li>
                        <li><a routerLink="/profile">PROFILE</a></li>
                        <li><a routerLink="/logout">LOGOUT</a></li>
                    </ul>
                </div>
            </div>
        </div>
